source/Lib/NSE.Lib.Abara/Service References/com.abarasoftware.blinkws.EX/ExperianWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://blinkws.abarasoftware.com.EX" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://blinkws.abarasoftware.com.EX" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://blinkws.abarasoftware.com.EX">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TestConnectivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BLink_login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BLink_pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectivityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BLink_login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BLink_pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportInput" type="tns:InputData" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="tns:Services" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InputData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestedByID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemCustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SocialSecurityNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GenerationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOBYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOBDay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOBMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAccessCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Services">
        <s:restriction base="s:string">
          <s:enumeration value="CreditReport" />
          <s:enumeration value="IDReport" />
          <s:enumeration value="InstantPrescreen" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetNewReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewReportResult" type="tns:ReportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HTML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:PossibleResults" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsScored" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="HitStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportOutcome" type="tns:ResultValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DecisionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DecisionText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PossibleResults">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="FAILURE" />
          <s:enumeration value="UNAUTHORIZED" />
          <s:enumeration value="ERROR" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ResultValue">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="Scored" />
          <s:enumeration value="NotScored" />
          <s:enumeration value="Declined" />
          <s:enumeration value="NoHit" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetExistingReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reportGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="BLink_login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BLink_pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="tns:Services" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExistingReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExistingReportResult" type="tns:ReportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectivitySoapIn">
    <wsdl:part name="parameters" element="tns:TestConnectivity" />
  </wsdl:message>
  <wsdl:message name="TestConnectivitySoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectivityResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewReport" />
  </wsdl:message>
  <wsdl:message name="GetNewReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetExistingReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetExistingReport" />
  </wsdl:message>
  <wsdl:message name="GetExistingReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetExistingReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ExperianWSSoap">
    <wsdl:operation name="TestConnectivity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test connectivity to the web service and validate user credentials</wsdl:documentation>
      <wsdl:input message="tns:TestConnectivitySoapIn" />
      <wsdl:output message="tns:TestConnectivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Using valid credentials, a request is sent for a new report.</wsdl:documentation>
      <wsdl:input message="tns:GetNewReportSoapIn" />
      <wsdl:output message="tns:GetNewReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Using valid credentials and passing unique identifier, extract previously-run report</wsdl:documentation>
      <wsdl:input message="tns:GetExistingReportSoapIn" />
      <wsdl:output message="tns:GetExistingReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExperianWSSoap" type="tns:ExperianWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnectivity">
      <soap:operation soapAction="http://blinkws.abarasoftware.com.EX/TestConnectivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewReport">
      <soap:operation soapAction="http://blinkws.abarasoftware.com.EX/GetNewReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingReport">
      <soap:operation soapAction="http://blinkws.abarasoftware.com.EX/GetExistingReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExperianWSSoap12" type="tns:ExperianWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnectivity">
      <soap12:operation soapAction="http://blinkws.abarasoftware.com.EX/TestConnectivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewReport">
      <soap12:operation soapAction="http://blinkws.abarasoftware.com.EX/GetNewReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingReport">
      <soap12:operation soapAction="http://blinkws.abarasoftware.com.EX/GetExistingReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExperianWS">
    <wsdl:port name="ExperianWSSoap" binding="tns:ExperianWSSoap">
      <soap:address location="https://testblinkws.abarasoftware.com/EX/ExperianWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ExperianWSSoap12" binding="tns:ExperianWSSoap12">
      <soap12:address location="https://testblinkws.abarasoftware.com/EX/ExperianWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>