source/FOS/SSE.FOS.AddressVerification/Service References/SI_NorthAmericanAddressVerification/NAAddressVerification6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="NorthAmericanAddressVerification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CityStateOrProvinceZIPOrPostalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Country" type="tns:CountryCode" />
            <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="UPPER" name="Casing" type="tns:CasingEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CountryCode">
        <s:restriction base="s:string">
          <s:enumeration value="US" />
          <s:enumeration value="CA" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CasingEnum">
        <s:restriction base="s:string">
          <s:enumeration value="UPPER" />
          <s:enumeration value="LOWER" />
          <s:enumeration value="PROPER" />
        </s:restriction>
      </s:simpleType>
      <s:element name="NorthAmericanAddressVerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NorthAmericanAddressVerificationResult" type="tns:SIWsOutputOfNorthAmericanAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfNorthAmericanAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:NorthAmericanAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NorthAmericanAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="USAddress" type="tns:USAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="CanadaAddress" type="tns:CanadaAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USAddress">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPPlus4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPAddOn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PMB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PMBDesignator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryPoint" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPCheckDigit" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LACS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CMRA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPV" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPVFootnote" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RDI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RecordType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CongressDistrict" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountyNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StateNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoCode" type="tns:USGeocode" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Address" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Village" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CanadaAddress">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CivicNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CivicSuffix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryModeType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryModeNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryInstallationArea" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryInstallationType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryInstallationQualifier" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoCode" type="tns:Geocode" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Geocode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USGeocode">
        <s:complexContent mixed="false">
          <s:extension base="tns:Geocode">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CensusTract" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StateNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountyNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BlockNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BlockGroup" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="NorthAmericanAddressVerificationBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfNorthAmericanBatchAddress" />
            <s:element minOccurs="0" maxOccurs="1" default="UPPER" name="Casing" type="tns:CasingEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNorthAmericanBatchAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NorthAmericanBatchAddress" nillable="true" type="tns:NorthAmericanBatchAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NorthAmericanBatchAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityStateOrProvinceZIPOrPostalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Country" type="tns:CountryCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NorthAmericanAddressVerificationBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NorthAmericanAddressVerificationBatchResult" type="tns:SIWsOutputOfSIWsResultArrayOfNorthAmericanAddressWithStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfNorthAmericanAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfNorthAmericanAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfNorthAmericanAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfNorthAmericanAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNorthAmericanAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NorthAmericanAddressWithStatus" nillable="true" type="tns:NorthAmericanAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NorthAmericanAddressWithStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultWithStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:NorthAmericanAddress" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultWithStatus" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemStatus" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddressDistanceCalculator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Location1" type="tns:AddressInput" />
            <s:element minOccurs="0" maxOccurs="1" name="Location2" type="tns:AddressInput" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="tns:UnitOfMeasure" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddressInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityStateOrProvinceZIPOrPostalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Country" type="tns:CountryCode" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UnitOfMeasure">
        <s:restriction base="s:string">
          <s:enumeration value="MILES" />
          <s:enumeration value="NAUTICAL_MILES" />
          <s:enumeration value="METERS" />
          <s:enumeration value="KILOMETERS" />
          <s:enumeration value="YARDS" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddressDistanceCalculatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressDistanceCalculatorResult" type="tns:SIWsOutputOfAddressDistanceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfAddressDistanceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:AddressDistanceResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressDistanceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AddressToAddressDistanceResult" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="tns:UnitOfMeasure" />
          <s:element minOccurs="1" maxOccurs="1" name="LatitudeAddress1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LongitudeAddress1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LatitudeAddress2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LongitudeAddress2" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddressDistanceCalculatorBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfAddressDistanceAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddressDistanceAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressDistanceAddress" nillable="true" type="tns:AddressDistanceAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressDistanceAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Location1" type="tns:AddressInput" />
          <s:element minOccurs="0" maxOccurs="1" name="Location2" type="tns:AddressInput" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="tns:UnitOfMeasure" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddressDistanceCalculatorBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressDistanceCalculatorBatchResult" type="tns:SIWsOutputOfSIWsResultArrayOfAddressDistanceResultWithStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfAddressDistanceResultWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfAddressDistanceResultWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfAddressDistanceResultWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfAddressDistanceResultWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddressDistanceResultWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressDistanceResultWithStatus" nillable="true" type="tns:AddressDistanceResultWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressDistanceResultWithStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultWithStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:AddressDistanceResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetStatusCodesForMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusCodesForMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesForMethodResult" type="tns:SIWsOutputOfMethodStatusRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MethodStatusRecord">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultArrayOfSIWsStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfSIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusCodes">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesResult" type="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MethodStatusRecord" nillable="true" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="NorthAmericanAddressVerificationSoapIn">
    <wsdl:part name="parameters" element="tns:NorthAmericanAddressVerification" />
  </wsdl:message>
  <wsdl:message name="NorthAmericanAddressVerificationSoapOut">
    <wsdl:part name="parameters" element="tns:NorthAmericanAddressVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="NorthAmericanAddressVerificationBatchSoapIn">
    <wsdl:part name="parameters" element="tns:NorthAmericanAddressVerificationBatch" />
  </wsdl:message>
  <wsdl:message name="NorthAmericanAddressVerificationBatchSoapOut">
    <wsdl:part name="parameters" element="tns:NorthAmericanAddressVerificationBatchResponse" />
  </wsdl:message>
  <wsdl:message name="AddressDistanceCalculatorSoapIn">
    <wsdl:part name="parameters" element="tns:AddressDistanceCalculator" />
  </wsdl:message>
  <wsdl:message name="AddressDistanceCalculatorSoapOut">
    <wsdl:part name="parameters" element="tns:AddressDistanceCalculatorResponse" />
  </wsdl:message>
  <wsdl:message name="AddressDistanceCalculatorBatchSoapIn">
    <wsdl:part name="parameters" element="tns:AddressDistanceCalculatorBatch" />
  </wsdl:message>
  <wsdl:message name="AddressDistanceCalculatorBatchSoapOut">
    <wsdl:part name="parameters" element="tns:AddressDistanceCalculatorBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethod" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodes" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part xmlns:q1="http://ws.strikeiron.com" name="parameters" element="q1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part xmlns:q2="http://ws.strikeiron.com" name="parameters" element="q2:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part xmlns:q3="http://ws.strikeiron.com" name="LicenseInfo" element="q3:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part xmlns:q4="http://ws.strikeiron.com" name="SubscriptionInfo" element="q4:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="NorthAmericanAddressVerificationServiceSoap">
    <wsdl:operation name="NorthAmericanAddressVerification">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a single US or Canadian address.</wsdl:documentation>
      <wsdl:input message="tns:NorthAmericanAddressVerificationSoapIn" />
      <wsdl:output message="tns:NorthAmericanAddressVerificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NorthAmericanAddressVerificationBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a set of US or Canadian Addresses.</wsdl:documentation>
      <wsdl:input message="tns:NorthAmericanAddressVerificationBatchSoapIn" />
      <wsdl:output message="tns:NorthAmericanAddressVerificationBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressDistanceCalculator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the distance between two US or Canadian addresses.</wsdl:documentation>
      <wsdl:input message="tns:AddressDistanceCalculatorSoapIn" />
      <wsdl:output message="tns:AddressDistanceCalculatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressDistanceCalculatorBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of distance Calculations.</wsdl:documentation>
      <wsdl:input message="tns:AddressDistanceCalculatorBatchSoapIn" />
      <wsdl:output message="tns:AddressDistanceCalculatorBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all status codes a method in the service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesForMethodSoapIn" />
      <wsdl:output message="tns:GetStatusCodesForMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesSoapIn" />
      <wsdl:output message="tns:GetStatusCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NorthAmericanAddressVerificationServiceSoap" type="tns:NorthAmericanAddressVerificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NorthAmericanAddressVerification">
      <soap:operation soapAction="http://www.strikeiron.com/NorthAmericanAddressVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string(//tns:Casing) = "UPPER" or string(//tns:Casing) = "LOWER" or string(//tns:Casing) = "PROPER" or string-length(//tns:Casing) = 0</tns:expression>
              <tns:description>Casing value must be UPPER, LOWER, or PROPER</tns:description>
            </tns:assertion>
          </tns:assertions>
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NorthAmericanAddressVerificationBatch">
      <soap:operation soapAction="http://www.strikeiron.com/NorthAmericanAddressVerificationBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string(//tns:Casing) = "UPPER" or string(//tns:Casing) = "LOWER" or string(//tns:Casing) = "PROPER" or string-length(//tns:Casing) = 0</tns:expression>
              <tns:description>Casing value must be UPPER, LOWER, or PROPER</tns:description>
            </tns:assertion>
          </tns:assertions>
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressDistanceCalculator">
      <soap:operation soapAction="http://www.strikeiron.com/AddressDistanceCalculator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressDistanceCalculatorBatch">
      <soap:operation soapAction="http://www.strikeiron.com/AddressDistanceCalculatorBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodesForMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/NAAddressVerification6/NorthAmericanAddressVerificationService/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthAmericanAddressVerificationService">
    <wsdl:port name="NorthAmericanAddressVerificationServiceSoap" binding="tns:NorthAmericanAddressVerificationServiceSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/NAAddressVerification6/NorthAmericanAddressVerificationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>