source/Logic/NXS.Logic.MonitoringStations/NXS.Logic.MonitoringStations/Web References/MoniBounceAPI/wwwBouncer0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd2" namespace="http://monitronics.net/bouncer/wcf/2013/08" />
  <xs:element name="Match">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="searchInfo" nillable="true" type="q1:SearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="MatchResult" nillable="true" type="q2:MatchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="batchInfo" nillable="true" type="q3:ArrayOfSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="BatchMatchResult" nillable="true" type="q4:BatchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="comment" nillable="true" type="q5:MatchComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="GetMatchCommentsResult" nillable="true" type="q6:MatchComments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://monitronics.net/bouncer/wcf/2013/08" minOccurs="0" name="matchResponse" nillable="true" type="q7:MatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMatchResponseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>