source/Logic/NXS.Logic.MonitoringStations/NXS.Logic.MonitoringStations/Web References/MoniBounceAPI/wwwBouncer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wwwBouncer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBouncer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd2" namespace="http://monitronics.net/bouncer/wcf/2013/08" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBouncer_Match_InputMessage">
    <wsdl:part name="parameters" element="tns:Match" />
  </wsdl:message>
  <wsdl:message name="IBouncer_Match_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatchResponse" />
  </wsdl:message>
  <wsdl:message name="IBouncer_BatchMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchMatch" />
  </wsdl:message>
  <wsdl:message name="IBouncer_BatchMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IBouncer_SaveMatchComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchComment" />
  </wsdl:message>
  <wsdl:message name="IBouncer_SaveMatchComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IBouncer_GetMatchComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchComments" />
  </wsdl:message>
  <wsdl:message name="IBouncer_GetMatchComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBouncer_SaveMatchResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IBouncer_SaveMatchResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IBouncer">
    <wsdl:operation name="Match">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/Match" message="tns:IBouncer_Match_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/MatchResponse" message="tns:IBouncer_Match_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/BatchMatch" message="tns:IBouncer_BatchMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/BatchMatchResponse" message="tns:IBouncer_BatchMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMatchComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/SaveMatchComment" message="tns:IBouncer_SaveMatchComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/SaveMatchCommentResponse" message="tns:IBouncer_SaveMatchComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/GetMatchComments" message="tns:IBouncer_GetMatchComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/GetMatchCommentsResponse" message="tns:IBouncer_GetMatchComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMatchResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/SaveMatchResponse" message="tns:IBouncer_SaveMatchResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/SaveMatchResponseResponse" message="tns:IBouncer_SaveMatchResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBouncer" type="tns:IBouncer">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBouncer_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Match">
      <soap:operation soapAction="http://tempuri.org/IBouncer/Match" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchMatch">
      <soap:operation soapAction="http://tempuri.org/IBouncer/BatchMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMatchComment">
      <soap:operation soapAction="http://tempuri.org/IBouncer/SaveMatchComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchComments">
      <soap:operation soapAction="http://tempuri.org/IBouncer/GetMatchComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMatchResponse">
      <soap:operation soapAction="http://tempuri.org/IBouncer/SaveMatchResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wwwBouncer">
    <wsdl:port name="BasicHttpBinding_IBouncer" binding="tns:BasicHttpBinding_IBouncer">
      <soap:address location="https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>