source/Logic/NXS.Logic.MonitoringStations/NXS.Logic.MonitoringStations/Web References/MoniBounceAPI/wwwBouncer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://monitronics.net/bouncer/wcf/2013/08" elementFormDefault="qualified" targetNamespace="http://monitronics.net/bouncer/wcf/2013/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchInfo">
    <xs:sequence>
      <xs:element name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element name="City" nillable="true" type="xs:string" />
      <xs:element name="State" nillable="true" type="xs:string" />
      <xs:element name="Zip" nillable="true" type="xs:string" />
      <xs:element name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element name="ProcessName" nillable="true" type="xs:string" />
      <xs:element name="DealerNumber" nillable="true" type="xs:string" />
      <xs:element name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentSiteID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchInfo" nillable="true" type="tns:SearchInfo" />
  <xs:complexType name="MatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="MatchCode" type="xs:int" />
      <xs:element minOccurs="0" name="SourceSystemID" type="xs:int" />
      <xs:element minOccurs="0" name="SourceSiteID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchResult" nillable="true" type="tns:MatchResult" />
  <xs:complexType name="ArrayOfSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchInfo" nillable="true" type="tns:SearchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchInfo" nillable="true" type="tns:ArrayOfSearchInfo" />
  <xs:complexType name="BatchResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchResult" nillable="true" type="tns:MatchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchResults" nillable="true" type="tns:BatchResults" />
  <xs:complexType name="MatchComment">
    <xs:sequence>
      <xs:element name="MatchID" type="xs:int" />
      <xs:element name="Comment" nillable="true" type="xs:string" />
      <xs:element name="ResponseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchComment" nillable="true" type="tns:MatchComment" />
  <xs:complexType name="MatchComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchComment" nillable="true" type="tns:MatchComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchComments" nillable="true" type="tns:MatchComments" />
  <xs:complexType name="MatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseSeqNo" type="xs:short" />
      <xs:element minOccurs="0" name="Outcome" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchResponse" nillable="true" type="tns:MatchResponse" />
</xs:schema>