source/FOS/SOS.FOS.CellStation/Service References/AlarmComWebServiceValidate/Validate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.alarm.com/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.alarm.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.alarm.com/WebServices">
      <s:element name="ValidateSerialNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSerialNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateSerialNumberResult" type="tns:SerialNumberValidationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SerialNumberValidationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReferral" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferralServicePlanId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferralPackageId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ModemInfo" type="tns:ModemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ModemSerial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirmwareVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Network" type="tns:NetworkEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="TwoWayVoiceCapable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RadioNetworkType" type="tns:RadioNetworkTypeEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="NetworkEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="Skytel" />
          <s:enumeration value="WebLink" />
          <s:enumeration value="GSM" />
          <s:enumeration value="Broadband" />
          <s:enumeration value="GSM2" />
          <s:enumeration value="GsmCanada" />
          <s:enumeration value="TMobile" />
          <s:enumeration value="TMobilePartner1" />
          <s:enumeration value="GsmCanada2" />
          <s:enumeration value="Rogers" />
          <s:enumeration value="RogersPartner1" />
          <s:enumeration value="ATTPartner1" />
          <s:enumeration value="Verizon" />
          <s:enumeration value="Telefonica" />
          <s:enumeration value="DealerProvisioned" />
          <s:enumeration value="Oi" />
          <s:enumeration value="Vivo" />
          <s:enumeration value="Vodafone" />
          <s:enumeration value="VerizonPartner1" />
          <s:enumeration value="Turkcell" />
          <s:enumeration value="USCellular" />
          <s:enumeration value="Digicel" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RadioNetworkTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Broadband" />
          <s:enumeration value="GPRS" />
          <s:enumeration value="CDMA" />
          <s:enumeration value="HSPA_GPRS" />
          <s:enumeration value="TwoWayPager" />
          <s:enumeration value="LTE_VZW" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="CheckCoverage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="network" type="tns:NetworkEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="tns:CountryEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CountryEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="USA" />
          <s:enumeration value="Canada" />
          <s:enumeration value="Brazil" />
          <s:enumeration value="Mexico" />
          <s:enumeration value="SouthAfrica" />
          <s:enumeration value="Chile" />
          <s:enumeration value="Argentina" />
          <s:enumeration value="Colombia" />
          <s:enumeration value="NewZealand" />
          <s:enumeration value="Turkey" />
          <s:enumeration value="Botswana" />
          <s:enumeration value="Panama" />
          <s:enumeration value="CostaRica" />
          <s:enumeration value="Venezuela" />
          <s:enumeration value="DominicanRepublic" />
          <s:enumeration value="Ecuador" />
          <s:enumeration value="Guatemala" />
          <s:enumeration value="Peru" />
          <s:enumeration value="Honduras" />
          <s:enumeration value="TrinidadTobago" />
          <s:enumeration value="Australia" />
          <s:enumeration value="Jamaica" />
          <s:enumeration value="Bahamas" />
          <s:enumeration value="SaintKittsNevis" />
          <s:enumeration value="Barbados" />
          <s:enumeration value="Ghana" />
          <s:enumeration value="Spain" />
          <s:enumeration value="Portugal" />
          <s:enumeration value="Uruguay" />
          <s:enumeration value="Paraguay" />
          <s:enumeration value="HongKong" />
          <s:enumeration value="Bolivia" />
          <s:enumeration value="Nigeria" />
          <s:enumeration value="Bermuda" />
          <s:enumeration value="USVirginIslands" />
          <s:enumeration value="Nicaragua" />
          <s:enumeration value="ElSalvador" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AddressWithCoordinates">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressWithName">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CheckCoverageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckCoverageResult" type="tns:CoverageResultEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CoverageResultEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotChecked" />
          <s:enumeration value="FullCoverage" />
          <s:enumeration value="MostlyCovered" />
          <s:enumeration value="NoCoverage" />
          <s:enumeration value="Error" />
          <s:enumeration value="BadZip" />
          <s:enumeration value="PartialCoverage" />
          <s:enumeration value="NotSupported" />
          <s:enumeration value="NotOffered" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckModemAndCoverage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modemSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckModemAndCoverageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckModemAndCoverageResult" type="tns:CombinedValidationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CombinedValidationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumberResult" type="tns:SerialNumberValidationResult" />
          <s:element minOccurs="1" maxOccurs="1" name="CoverageResult" type="tns:CoverageResultEnum" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateSerialNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSerialNumber" />
  </wsdl:message>
  <wsdl:message name="ValidateSerialNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSerialNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSerialNumberAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="CheckCoverageSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCoverage" />
  </wsdl:message>
  <wsdl:message name="CheckCoverageSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCoverageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCoverageAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="CheckModemAndCoverageSoapIn">
    <wsdl:part name="parameters" element="tns:CheckModemAndCoverage" />
  </wsdl:message>
  <wsdl:message name="CheckModemAndCoverageSoapOut">
    <wsdl:part name="parameters" element="tns:CheckModemAndCoverageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckModemAndCoverageAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="ValidateSoap">
    <wsdl:operation name="ValidateSerialNumber">
      <wsdl:input message="tns:ValidateSerialNumberSoapIn" />
      <wsdl:output message="tns:ValidateSerialNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCoverage">
      <wsdl:input message="tns:CheckCoverageSoapIn" />
      <wsdl:output message="tns:CheckCoverageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckModemAndCoverage">
      <wsdl:input message="tns:CheckModemAndCoverageSoapIn" />
      <wsdl:output message="tns:CheckModemAndCoverageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateSoap" type="tns:ValidateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateSerialNumber">
      <soap:operation soapAction="http://www.alarm.com/WebServices/ValidateSerialNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateSerialNumberAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCoverage">
      <soap:operation soapAction="http://www.alarm.com/WebServices/CheckCoverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckCoverageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckModemAndCoverage">
      <soap:operation soapAction="http://www.alarm.com/WebServices/CheckModemAndCoverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckModemAndCoverageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateSoap12" type="tns:ValidateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateSerialNumber">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/ValidateSerialNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateSerialNumberAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCoverage">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/CheckCoverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckCoverageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckModemAndCoverage">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/CheckModemAndCoverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckModemAndCoverageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Validate">
    <wsdl:port name="ValidateSoap" binding="tns:ValidateSoap">
      <soap:address location="https://alarmadmin.alarm.com/WebServices/Validate.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateSoap12" binding="tns:ValidateSoap12">
      <soap12:address location="https://alarmadmin.alarm.com/WebServices/Validate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>